{% extends 'layout.html' %}
{% block mainBody %}

    <div class="mb-5">
        <div class="my-2">
            <a class="btn btn-outline-danger bg-gradient shadow-sm" href="/admin-home" role="button">
                <i class="bi bi-house-door-fill pe-2"></i>Admin Home
            </a>
        </div>
    </div>

    <!-- Add New Crop Button -->
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
        <button type="button" class="btn btn-dark bg-gradient border-0 me-md-2" data-bs-toggle="modal" data-bs-target="#addNewCrop">
            <i class="bi bi-plus-circle-fill me-2"></i>Add New Crop
        </button>
    </div>

    <div class="table-responsive mb-3 text-center">
        <table class="table table-hover caption-top">
            <caption class="fw-bold">List of Crops</caption>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Crop Name</th>
                    <th scope="col">Entry Date</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>

            <tbody class="table-group-divider">
                {% if allCrops %}
                    {% for eachCrop in allCrops %}
                        <!-- Crops Table -->
                        <tr>
                            <th scope="row">{{loop.index}}</th>
                            <td>{{eachCrop.name}}</td>
                            <td title="{{eachCrop.dateCreated.strftime('%d-%m-%Y, %H:%M:%S')}}">{{eachCrop.days_ago()}}</td>
                            <td><a href="/admin-crops-update/{{eachCrop.id}}" data-bs-toggle="modal" data-bs-target="#updateCrop{{eachCrop.id}}"><i class="bi bi-pen"></i></a></td>
                            <td><a href="/admin-crops-delete/{{eachCrop.id}}" role="button"><i class="bi bi-trash text-danger"></i></a></td>
                        </tr>

                        <!-- Update Crop Modal -->
                        <div class="modal fade" id="updateCrop{{eachCrop.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content rounded-4 shadow">
                                    <div class="modal-header p-5 pb-4 border-bottom-0">
                                        <h1 class="fw-bold mb-0 fs-2">Update Crop</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    
                                    <div class="modal-body p-5 pt-0">
                                        <form action="/admin-crops-update/{{eachCrop.id}}" method="post">
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control rounded-3" id="cropName" name="cropName" placeholder="Crop Name" value="{{eachCrop.name}}" required>
                                                <label for="cropName">Crop Name</label>
                                            </div>
                                            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Update</button>
                                            <hr class="my-4">
                                            <small class="text-body-secondary">Reviewing the terms of use is necessary before updating the data.</small>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5" class="text-center text-danger">No Crops Added. Use the Above Button to Add Crops.</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    <!-- Add New Crop Modal -->
    <div class="modal fade" id="addNewCrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-4 shadow">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <h1 class="fw-bold mb-0 fs-2">Add New Crop</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-5 pt-0">
                    <form action="/admin-crops" method="post">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control rounded-3" id="cropName" name="cropName" placeholder="Crop Name" required>
                            <label for="cropName">Crop Name</label>
                        </div>
                        <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Add</button>
                        <hr class="my-4">
                        <small class="text-body-secondary">Reviewing the terms of use is necessary before adding a new crop.</small>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock mainBody %}